.p-2 {
  background-color: white;
  // border-radius: 10px;
  padding: 0.5rem !important;
  border: 1px solid #dee2e6;
  min-height: 10vh;
  max-height: 48.5vh;
  overflow: auto;
  margin-bottom: 10px;
}
.no-update {
  min-height: 40vh;
  max-height: 101.5vh;
}

.feed-header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.feed-header-profile {
  width: 50%;
  display: flex;
  gap: 10px;
  justify-content: center;
  .feed-header-profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin: auto;
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }
  }
}
.feed-header-profile-name {
  width: 80%;
  span {
    color: #3c4858;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  p {
    color: #acabab;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
}

.feed-text p {
  color: #3c4858;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}
.feed-image {
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
  // max-height: 40%; /* Ensure the image doesn't exceed its container's height */
  text-align: center; /* Center the image horizontally within the container */
  background-color: #ffff; /* Set a background color for padding (optional) */
  // padding: 10px;
  img {
    width: auto;
    max-width: 100%;
    max-height: 50vh;
    border-radius: 11px;
  }
}
// .feed-image.portrait {
//   max-width: 100%; /* Ensure the image doesn't exceed its container's width */
//   max-height: 100%; /* Ensure the image doesn't exceed its container's height */
//   text-align: center; /* Center the image horizontally within the container */
//   background-color: #ffff; /* Set a background color for padding (optional) */
//   padding: 10px;
// }
.feed-action {
  display: flex;
  justify-content: space-evenly;
}
.feed-action button {
  border: none;
  color: #2a2a2a;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 30%;
  }
}
.feed-action button:hover {
  color: #a32a29;
  translate: 1px;
}
.feed-action button:focus {
  color: #a32a29;
}
::-webkit-scrollbar {
  width: 3px;
}
