<div class="post-container">
  <!-- row 1 -->
  <div class="row-1">
    <div class="profile-image">
      <img src="assets/images/face.png" height="60" />
    </div>
    <div class="exit-post">
      <div class="button">
        <button>
          <img src="assets/images/x.svg" height="20" />
        </button>
      </div>
    </div>
  </div>
  <!-- row 2 -->
  <div class="post-content">
    <div class="post-input-text">
      <textarea
        placeholder="Write something..."
        rows="5"
        cols="50"
        name="Geeks"
        wrap="hard"
      ></textarea>
    </div>
    <!-- action -->
    <div class="actions">
      <div class="single-action">
        <button>
          <mat-icon>photo</mat-icon>
        </button>
      </div>
      <div class="single-action">
        <button>
          <mat-icon>video_library</mat-icon>
        </button>
      </div>
      <div class="single-action">
        <button>
          <mat-icon>calendar_today</mat-icon>
        </button>
      </div>
    </div>
    <!-- send -->
    <div class="send-post">
      <button mat-button class="send-post-button">
        <mat-icon>send</mat-icon>Post
      </button>
    </div>
  </div>
</div>
