<div class="all">
  <!-- row 1  cards-->
  <div class="card-container">
    <!-- Total Scholars card -->
    <div class="single-card"><app-scholars-card></app-scholars-card></div>

    <!-- Total Applications card -->
    <div class="single-card">
      <app-applications-card></app-applications-card>
    </div>
    <!-- Total elps card -->
    <div class="single-card"><app-elps-card></app-elps-card></div>

    <!-- Total Expenditure card -->
    <div class="single-card">
      <app-expenditure-card></app-expenditure-card>
    </div>
    <!-- Total SWTFs card -->
    <div class="single-card">
      <app-wtfs-card></app-wtfs-card>
    </div>
  </div>
  <!-- row 2  graphs container-->
  <!-- <div class="graphs-container"> -->
  <!-- scholars graph -->
  <!-- <div class="graph">
      <app-admin-scholar-graph></app-admin-scholar-graph>
    </div> -->
  <!-- applications graph -->
  <!-- <div class="graph">
      <app-admin-applications-graph></app-admin-applications-graph>
    </div> -->
  <!-- elps graph -->
  <!-- <div class="graph">
      <app-admin-elps-graph></app-admin-elps-graph>
    </div> -->
  <!-- expenditure -->
  <!-- <div class="graph">
      <app-admin-expenditure-graph></app-admin-expenditure-graph>
    </div> -->
  <!-- wtfs -->
  <!-- <div class="graph">
      <app-admin-wtfs-graph></app-admin-wtfs-graph>
    </div> -->
  <!-- </div> -->
</div>
