<app-navbar></app-navbar>
<div class="people-maincontainer">
  <div class="people-homecontainer">
    <div class="hubs-column-1">
      <app-side-bar-menu></app-side-bar-menu>
    </div>
    <div class="people-column-2">
      <div class="all-people">
        <!-- single peoplecard -->
        <div class="cards-people">
          <img src="assets/images/Card background.png" />

          <div class="people-profile-image">
            <img src="assets/images/face.png" />
            <span>Jane Doe</span>
          </div>
          <div class="people-details">
            <p>
              Everything Engineering | Construction | Electrical | Mechanical
            </p>
          </div>
          <div class="more">
            <a routerLink="/user_profile">
              <button class="more-button">
                <div class="more-image-button">
                  <img src="assets/images/Icon.svg" />
                </div>

                <div class="more-text">
                  <span>More</span>
                </div>
              </button>
            </a>
          </div>
        </div>
        <!-- single peoplecard -->
        <div class="cards-people">
          <img src="assets/images/Card background.png" />

          <div class="people-profile-image">
            <img src="assets/images/face.png" />
            <span>Jane Doe</span>
          </div>
          <div class="people-details">
            <p>
              Everything Engineering | Construction | Electrical | Mechanical
            </p>
          </div>
          <div class="more">
            <a routerLink="/user_profile">
              <button class="more-button">
                <div class="more-image-button">
                  <img src="assets/images/Icon.svg" />
                </div>

                <div class="more-text">
                  <span>More</span>
                </div>
              </button>
            </a>
          </div>
        </div>
        <!-- single peoplecard -->
        <div class="cards-people">
          <img src="assets/images/Card background.png" />

          <div class="people-profile-image">
            <img src="assets/images/face.png" />
            <span>Jane Doe</span>
          </div>
          <div class="people-details">
            <p>
              Everything Engineering | Construction | Electrical | Mechanical
            </p>
          </div>
          <div class="more">
            <a routerLink="/user_profile">
              <button class="more-button">
                <div class="more-image-button">
                  <img src="assets/images/Icon.svg" />
                </div>

                <div class="more-text">
                  <span>More</span>
                </div>
              </button>
            </a>
          </div>
        </div>
        <!-- single peoplecard -->
        <div class="cards-people">
          <img src="assets/images/Card background.png" />

          <div class="people-profile-image">
            <img src="assets/images/face.png" />
            <span>Jane Doe</span>
          </div>
          <div class="people-details">
            <p>
              Everything Engineering | Construction | Electrical | Mechanical
            </p>
          </div>
          <div class="more">
            <a routerLink="/user_profile">
              <button class="more-button">
                <div class="more-image-button">
                  <img src="assets/images/Icon.svg" />
                </div>

                <div class="more-text">
                  <span>More</span>
                </div>
              </button>
            </a>
          </div>
        </div>
        <!-- single peoplecard -->
        <div class="cards-people">
          <img src="assets/images/Card background.png" />

          <div class="people-profile-image">
            <img src="assets/images/face.png" />
            <span>Jane Doe</span>
          </div>
          <div class="people-details">
            <p>
              Everything Engineering | Construction | Electrical | Mechanical
            </p>
          </div>
          <div class="more">
            <a routerLink="/user_profile">
              <button class="more-button">
                <div class="more-image-button">
                  <img src="assets/images/Icon.svg" />
                </div>

                <div class="more-text">
                  <span>More</span>
                </div>
              </button>
            </a>
          </div>
        </div>
        <!-- single peoplecard -->
        <div class="cards-people">
          <img src="assets/images/Card background.png" />

          <div class="people-profile-image">
            <img src="assets/images/face.png" />
            <span>Jane Doe</span>
          </div>
          <div class="people-details">
            <p>
              Everything Engineering | Construction | Electrical | Mechanical
            </p>
          </div>
          <div class="more">
            <a routerLink="/user_profile">
              <button class="more-button">
                <div class="more-image-button">
                  <img src="assets/images/Icon.svg" />
                </div>

                <div class="more-text">
                  <span>More</span>
                </div>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
