.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.2rem;
  height: 3rem;
  gap: 2rem;
  mat-icon {
    font-size: large;
    color: #051e34;
  }
}

.navbar-search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  img {
    height: 40px;
    cursor: pointer;
  }
}

.navbar-menu {
  display: flex;
  gap: 2px;
  align-items: center;
}
.navbar-menu a {
  text-decoration: none;
  color: #051e34;
  height: 100%;
}

.menu-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  width: 71px;
  img {
    height: 30px;
    margin: 0;
  }
  p {
    margin: 0;
  }
}
.menu-item-profile-image {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  width: 71px;
  img {
    height: 30px;
    border-radius: 50%;
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.menu {
  display: flex;
  align-items: flex-start;
}
.main-img-user {
  display: block;
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 100%;
}
.media-body {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 13px;
  flex: 1;
}
.media {
  border-bottom: 1px solid rgba(123, 65, 216, 0.1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 10px;
  gap: 2%;
  cursor: pointer;
}
.media-body strong {
  font-weight: 500;
}
.menu-item:hover {
  transform: translateY(-5px);
  border-bottom: 3px solid #a32a29;
  color: #a32a29;
  cursor: pointer;
}
.menu-item:focus:active {
  color: #a32a29;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #051e34;
}

::ng-deep .mat-mdc-menu-item.mdc-list-item {
  font-size: 13px;
}

::ng-deep .mat-icon {
  font-size: 20px;
}

.mat-mdc-menu-item .mat-icon {
  margin-right: 0px;
}
.nav_item {
  display: none;
}

@media screen and (min-width: 600px) {
  .nav {
    padding: 0 4rem;
  }
  .nav_item {
    display: block;
  }

  .navbar-search {
    display: flex;
  }
}

@media screen and (min-width: 780px) {
  .nav {
    padding: 0 7rem;
  }
}
