<div class="user-profile-container">
  <!-- row 1 personal info -->
  <div class="personal-info-containter">
    <div class="user-info">
      <div class="profile-image">
        <div class="image" *ngIf="imageurl">
          <img [src]="imageurl" />
        </div>
        <div class="image" *ngIf="!imageurl">
          <span>No Profile Image</span>
        </div>
        <div class="add-edit">
          <a (click)="picformDialog('edit')" *ngIf="imageurl" class="edit">
            <mat-icon>edit</mat-icon>Edit</a
          >
          <a (click)="picformDialog('add')" *ngIf="!imageurl" class="add">
            <mat-icon>add</mat-icon>Add</a
          >
        </div>
      </div>
      <div class="user-details">
        <div class="add-edit">
          <a (click)="pformDialog('edit')" class="edit" *ngIf="profileData">
            <mat-icon>edit</mat-icon>Edit</a
          >
          <a (click)="pformDialog('add')" class="add" *ngIf="!profileData">
            <mat-icon>add</mat-icon>Add</a
          >
        </div>
        <div class="user-title">
          <p *ngIf="userInfo">
            {{ userInfo.firstName }} {{ userInfo.lastName }}
          </p>
          <p *ngIf="!userInfo">User Name</p>
          <span *ngIf="profileData"
            >{{ profileData.title ? profileData.title : "Title" }}
          </span>
          <span *ngIf="!profileData"> Title </span>
        </div>

        <div class="h-line">
          <hr />
        </div>

        <div class="user-contacts">
          <div class="contact-item">
            <mat-icon>phone</mat-icon>
            <span *ngIf="profileData">{{ profileData.phoneNo }}</span>
            <span *ngIf="!profileData"> Phone Number </span>
          </div>

          <div class="contact-item">
            <mat-icon>email</mat-icon>
            <span *ngIf="profileData"> {{ profileData.email }}</span>

            <span *ngIf="!profileData"> Email Address</span>
          </div>
          <div class="contact-item">
            <mat-icon>link</mat-icon>
            <span *ngIf="profileData"> {{ profileData.website }}</span>
            <span *ngIf="!profileData"> Web Link</span>
          </div>
        </div>
      </div>
    </div>
    <div class="v-line"></div>
    <div class="user-social-links">
      <div class="social-link-add-edit">
        <div class="add-edit">
          <a
            (click)="sformDialog('edit')"
            *ngIf="social_profileData"
            class="edit"
          >
            <mat-icon>edit</mat-icon>Edit</a
          >
          <a
            (click)="sformDialog('add')"
            *ngIf="!social_profileData"
            class="add"
          >
            <mat-icon>add</mat-icon>Add</a
          >
        </div>
      </div>

      <div class="social-link">
        <img src="assets/images/ln.svg" />
        <span>LinkedIn</span>
      </div>
      <div class="social-link">
        <img src="assets/images/fb.svg" />
        <span>Facebook</span>
      </div>
      <div class="social-link">
        <img src="assets/images/ig.svg" height="25" />
        <span>Instagram</span>
      </div>
      <div class="social-link">
        <img src="assets/images/tw.svg" />
        <span>Twitter</span>
      </div>
      <div class="social-link">
        <img src="assets/images/git.svg" />
        <span>Github</span>
      </div>
    </div>
  </div>

  <!-- row 2 tabs -->

  <div class="card-tab-container">
    <!-- single card tab bio -->
    <div class="single-card-tab" (click)="showTab('bio')">
      <div class="tab-content">
        <div class="tab-icon"><mat-icon>assignment</mat-icon></div>
        <div class="tab-text">Bio</div>
      </div>
    </div>
    <!-- single card tab education -->
    <div class="single-card-tab" (click)="showTab('education')">
      <div class="tab-content">
        <div class="tab-icon"><mat-icon>school</mat-icon></div>
        <div class="tab-text">Education</div>
      </div>
    </div>
    <!-- single card tab career -->
    <div class="single-card-tab" (click)="showTab('career')">
      <div class="tab-content">
        <div class="tab-icon"><mat-icon>card_travel</mat-icon></div>
        <div class="tab-text">Career</div>
      </div>
    </div>
    <!-- single card tab hubs-->
    <div class="single-card-tab">
      <div class="tab-content">
        <div class="tab-icon"><mat-icon>groups</mat-icon></div>
        <div class="tab-text">Hubs</div>
      </div>
    </div>
    <!-- single card tab post -->
    <div class="single-card-tab">
      <div class="tab-content">
        <div class="tab-icon"><mat-icon>edit_notes</mat-icon></div>
        <div class="tab-text">Posts</div>
      </div>
    </div>
  </div>
  <!-- row 3 tab body -->
  <div class="tab-body">
    <ng-container *ngIf="activeTab === 'bio'">
      <app-bio></app-bio>
    </ng-container>

    <ng-container *ngIf="activeTab === 'education'">
      <app-education></app-education>
    </ng-container>
    <ng-container *ngIf="activeTab === 'career'">
      <app-career></app-career>
    </ng-container>
  </div>
</div>
