<mat-sidenav-container>
  <!-- sidenav #row1 -->
  <mat-sidenav mode="side" mat-elevation-z8 opened="">
    <!-- sidenav header -->
    <div class="sidenav-header">
      <h1>ELPath</h1>
    </div>

    <!-- sidenav buttons -->
    <app-admin-side-bar-menu></app-admin-side-bar-menu>
  </mat-sidenav>

  <!-- Main Content #row2 /Graphs/tables etc. -->
  <mat-sidenav-content>
    <!-- main navbar -->
    <app-admin-navbar></app-admin-navbar>

    <div class="all-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
