<div class="side-button-container">
  <!-- side buttons  -->
  <!-- dashboard -->
  <a routerLink="dashboard" class="button-link">
    <button class="side-buttons">
      <mat-icon>dashboard</mat-icon>
      <span> Dashboard </span>
    </button>
  </a>
  <!-- applications -->
  <a routerLink="applications" class="button-link">
    <button class="side-buttons">
      <mat-icon>assignment</mat-icon>
      <span> Applications </span>
    </button>
  </a>

  <!-- scholars -->
  <a routerLink="scholars" class="button-link">
    <button class="side-buttons">
      <mat-icon>school</mat-icon> <span>Scholars</span>
    </button>
  </a>
</div>
