<app-navbar></app-navbar>
<div class="hubs-maincontainer">
  <div class="hubs-homecontainer">
    <div class="hubs-column-1">
      <app-side-bar-menu></app-side-bar-menu>
    </div>
    <div class="hubs-column-2">
      <div class="all-hubs">
        <!-- single hubcard -->
        <div class="cards-hub">
          <img src="assets/images/Card background.png" />

          <div class="hub-profile-image">
            <img src="assets/images/face.png" />
            <span>Engineering Hub</span>
          </div>
          <div class="hub-details">
            <p>
              Everything Engineering | Construction | Electrical | Mechanical
            </p>
          </div>
          <div class="join">
            <button class="join-button">
              <img src="assets/images/Icon.svg" />
              <span>join</span>
            </button>
          </div>
        </div>
        <!-- single hubcard -->
        <div class="cards-hub">
          <img src="assets/images/Card background.png" />

          <div class="hub-profile-image">
            <img src="assets/images/face.png" />
            <span>Engineering Hub</span>
          </div>
          <div class="hub-details">
            <p>
              Everything Engineering | Construction | Electrical | Mechanical
            </p>
          </div>
          <div class="join">
            <button class="join-button">
              <img src="assets/images/Icon.svg" />
              <span>join</span>
            </button>
          </div>
        </div>
        <!-- single hubcard -->
        <div class="cards-hub">
          <img src="assets/images/Card background.png" />

          <div class="hub-profile-image">
            <img src="assets/images/face.png" />
            <span>Engineering Hub</span>
          </div>
          <div class="hub-details">
            <p>
              Everything Engineering | Construction | Electrical | Mechanical
            </p>
          </div>
          <div class="join">
            <button class="join-button">
              <img src="assets/images/Icon.svg" />
              <span>join</span>
            </button>
          </div>
        </div>
        <!-- single hubcard -->
        <div class="cards-hub">
          <img src="assets/images/Card background.png" />

          <div class="hub-profile-image">
            <img src="assets/images/face.png" />
            <span>Engineering Hub</span>
          </div>
          <div class="hub-details">
            <p>
              Everything Engineering | Construction | Electrical | Mechanical
            </p>
          </div>
          <div class="join">
            <button class="join-button">
              <img src="assets/images/Icon.svg" />
              <span>join</span>
            </button>
          </div>
        </div>
        <!-- single hubcard -->
        <div class="cards-hub">
          <img src="assets/images/Card background.png" />

          <div class="hub-profile-image">
            <img src="assets/images/face.png" />
            <span>Engineering Hub</span>
          </div>
          <div class="hub-details">
            <p>
              Everything Engineering | Construction | Electrical | Mechanical
            </p>
          </div>
          <div class="join">
            <button class="join-button">
              <img src="assets/images/Icon.svg" />
              <span>join</span>
            </button>
          </div>
        </div>
        <!-- single hubcard -->
        <div class="cards-hub">
          <img src="assets/images/Card background.png" />

          <div class="hub-profile-image">
            <img src="assets/images/face.png" />
            <span>Engineering Hub</span>
          </div>
          <div class="hub-details">
            <p>
              Everything Engineering | Construction | Electrical | Mechanical
            </p>
          </div>
          <div class="join">
            <button class="join-button">
              <img src="assets/images/Icon.svg" />
              <span>join</span>
            </button>
          </div>
        </div>
        <!-- single hubcard -->
        <div class="cards-hub">
          <img src="assets/images/Card background.png" />

          <div class="hub-profile-image">
            <img src="assets/images/face.png" />
            <span>Engineering Hub</span>
          </div>
          <div class="hub-details">
            <p>
              Everything Engineering | Construction | Electrical | Mechanical
            </p>
          </div>
          <div class="join">
            <button class="join-button">
              <img src="assets/images/Icon.svg" />
              <span>join</span>
            </button>
          </div>
        </div>
        <!-- single hubcard -->
        <div class="cards-hub">
          <img src="assets/images/Card background.png" />

          <div class="hub-profile-image">
            <img src="assets/images/face.png" />
            <span>Engineering Hub</span>
          </div>
          <div class="hub-details">
            <p>
              Everything Engineering | Construction | Electrical | Mechanical
            </p>
          </div>
          <div class="join">
            <button class="join-button">
              <img src="assets/images/Icon.svg" />
              <span>join</span>
            </button>
          </div>
        </div>
        <!-- single hubcard -->
        <div class="cards-hub">
          <img src="assets/images/Card background.png" />

          <div class="hub-profile-image">
            <img src="assets/images/face.png" />
            <span>Engineering Hub</span>
          </div>
          <div class="hub-details">
            <p>
              Everything Engineering | Construction | Electrical | Mechanical
            </p>
          </div>
          <div class="join">
            <button class="join-button">
              <img src="assets/images/Icon.svg" />
              <span>join</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
