<div class="main-container">
  <div class="exit-post">
    <div class="button">
      <button mat-dialog-close matTooltip="Close" matTooltipClass="close">
        <img src="assets/images/x.svg" height="20" />
      </button>
    </div>
  </div>
  <div class="container">
    <div class="form-container">
      <form [formGroup]="eduForm" class="education-form" (ngSubmit)="submit()">
        <!-- form field -->
        <div class="form-field"><span>Add Education</span>
          <!-- label -->
          <label class="form-label">Institution Name </label>
          <mat-select formControlName="school_name" name="institution">
            <mat-option
              *ngFor="let school of institutionOptions"
              [value]="school"
            >
              {{ school.name }}
            </mat-option>
          </mat-select>
        </div>

        <!-- form field -->
        <div class="form-field">
          <label for="" class="form-label">Cluster</label>
          <mat-select
            formControlName="clusters"
            name="clusters"
            (valueChange)="getCourses()"
          >
            <mat-option
              *ngFor="let cluster of clusterOptions"
              [value]="cluster.id"
            >
              {{ cluster.name }}
            </mat-option>
          </mat-select>
        </div>

        <!-- form field -->
        <div class="form-field" *ngIf="courses">
          <label class="form-label"> Courses</label>
          <mat-select formControlName="course" name="course">
            <mat-option *ngFor="let course of courseOptions" [value]="course">
              {{ course.name }}
            </mat-option>
          </mat-select>
        </div>

        <!-- form field -->
        <!-- <div class="form-field"> -->
        <!-- label -->
        <!-- <label class="form-label">Grade </label> -->
        <!-- input -->
        <!-- <input
            type="text"
            formControlName="grade"
            placeholder="eg. First Class Honors, B+"
            required
          />
        </div> -->

        <div class="form-field">
          <!-- input -->
          <mat-select
            type="text"
            formControlName="grade"
            placeholder="Grade"
            required
          >
            <mat-option *ngFor="let grade of grades" value="grade">{{
              grade
            }}</mat-option></mat-select
          >
        </div>

        <!-- form field -->
        <div class="form-field">
          <!-- label -->
          <label class="form-label">Duration </label>
          <!-- input  calender-->
          <div class="calendar-input">
            <!-- start date -->
            <div class="date-start">
              <label class="form-label">Start date</label>
              <input type="date" formControlName="start_date" />
            </div>
            <!-- end date -->
            <div class="date-end">
              <label class="form-label">Complete date</label>
              <input type="date" formControlName="completion_date" />
            </div>
          </div>
        </div>

        <div class="save-button">
          <button (keydown.enter)="(submit)" class="button">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
