// .container {
//   // display: flex;
//   // flex-direction: column;
//   // gap: 10px;

//   display: flex;
//   flex-direction: column;
//   gap: 10px;
//   align-items: flex-end;
//   margin-right: 2.5%;
// }
// .header {
//   display: flex;
//   width: 95%;
//   justify-content: space-between;
//   background-color: #fff;
//   margin-top: 10px;
//   padding: 10px 0;
//   margin-left: 2.5%;
//   border-radius: 11px;
//   align-items: center;
//   font-size: 14px;
//   font-weight: 500;
//   .filter-container {
//     // display: flex;
//     // position: absolute;
//     // top: 50px;
//     // gap: 10px;
//     // right: 0;
//     // margin-top: 10px;

//     display: flex;
//     justify-content: flex-end;
//     margin-right: 10px;
//     gap: 10px;

//     // display: flex;
//     // justify-content: flex-end;
//     // gap: 10px;
//   }
//   .filter-input {
//     display: flex;
//     align-items: center;
//     gap: 10px;
//     }
// }
// .header-icon {
//   display: flex;
//   align-items: center;
//   margin-left: 10px;
//   gap: 10px;
//   color: #6259ca;
// }
// //chapters
// .chapters-container {
//   padding: 0.5rem !important;
//   width: 63%;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-evenly;
//   height: 100%;
//   border-radius: 11px;
//   overflow-y: auto;
//   // background-color: white;
// }
// .chapter-card {
//   margin-top: 50px;
//   width: 32%;
//   display: flex;
//   flex-direction: column;
//   background-color: white;
//   border-radius: 11px;
//   align-items: center;

// }
// .chapter-card:hover {
//   .chapter-profile-image {
//     background-color: white;
//     img {
//       width: 70px;
//       height: 70px;
//     }
//   }
// }
// // .backimage {
// //   img {
// //     width: 100%;
// //     border-top-left-radius: 11px;
// //     border-top-right-radius: 11px;
// //   }
// // }
// .chapter-profile-image {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 80px;
//   height: 80px;
//   border-radius: 50%;
//   margin-top: 10%;
//   margin-bottom: 10px;
//   // background-color: #eaedf7;
//   img {
//     width: 80px;
//     height: 80px;
//     border-radius: 50%;
//     // transform: scale(1);
//     transition: all 0.9s ease 0s;
//   }
//   .mat-icon {
//     color: #8f8fb1;
//     font-size: 40px;
//     width: 70px;
//     height: 70px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
// }

// .chapter-title {
//   width: 90%;
//   font-size: 16px;
//   color: #3c4858;
//   font-weight: 500;
//   text-align: center;
//   letter-spacing: 0.2px;
// }
// .chapter-details {
//   width: 80%;
//   font-size: 13px;
//   font-weight: 500;
//   text-align: center;
//   color: #8f8fb1;
//   margin-bottom: 0.25rem !important;
//   p {
//     margin: 0;
//   }
// }
// .view-button {
//   border: 0;
//   color: #fff;
//   padding: 8px 20px;
//   border-radius: 6px;
//   background-color: #6259ca;
//   margin-bottom: 5px;
//   font-weight: 500;
// }
// .view-button:hover {
//   background-color: #403fad;
// }
// // activity
// .activity-container {
//   width: 30%;
//   display: flex;
//   flex-direction: column;
//   right:0;
//   margin-top: 90px;
//   position: absolute;
//   gap: 20px;
//   height: 70%;
// }

.container {
  display: grid;
  grid-template-columns: auto 20rem;
  gap: 10px;
  padding: 10px;
  .card-nav {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    .header {
      display: flex;
      width: 95%;
      justify-content: space-between;
      background-color: #fff;
      margin-top: 10px;
      padding: 10px 0;
      margin-left: 2.5%;
      border-radius: 11px;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      .header-icon {
        display: flex;
        align-items: center;
        margin-left: 10px;
        gap: 10px;
        color: #6259ca;
      }
    }
  }
  .chapters-container {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .chapter-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 10rem;
    background-color: white;
    border-radius: 11px;
    align-items: center;
    justify-content: center;
  }
  .chapter-card:hover {
    .chapter-profile-image {
      background-color: white;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
  // .backimage {
  //   img {
  //     width: 100%;
  //     border-top-left-radius: 11px;
  //     border-top-right-radius: 11px;
  //   }
  // }
  .chapter-profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 10%;
    margin-bottom: 10px;
    // background-color: #eaedf7;
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      // transform: scale(1);
      transition: all 0.9s ease 0s;
    }
    .mat-icon {
      color: #8f8fb1;
      font-size: 40px;
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .chapter-title {
    width: 90%;
    font-size: 16px;
    color: #3c4858;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.2px;
  }
  .chapter-details {
    width: 80%;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: #8f8fb1;
    margin-bottom: 0.25rem !important;
    p {
      margin: 0;
    }
  }
  .view-button {
    border: 0;
    color: #fff;
    padding: 8px 20px;
    border-radius: 6px;
    background-color: #6259ca;
    margin-bottom: 5px;
    font-weight: 500;
  }
  .view-button:hover {
    background-color: #403fad;
  }
  .activity-container {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .filter-container {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    gap: 10px;

    // display: flex;
    // justify-content: flex-end;
    // gap: 10px;
   
     .filter-dropdown {
      display: flex;
      align-items: center;
      border: none;
      padding: 5px;
      border-radius: 5px;
      gap: 5px;
      color: #6259ca;
      border: 0.1px solid #3c485824;


      letter-spacing: 0.2px;
      margin-right: 5px;
    }
 
  }
  .filter-input {
    display: flex;
    align-items: center;
    gap: 10px;
  }


}



