<div class="maincontainer">
  <div class="container">
    <!-- row1 -->
    <div class="row1">
      <div class="row1content">
        <!-- info -->
        <div class="info">
          <p>JOB OPPORTUNITIES</p>

          <span>Add Job Opportunities For Scholars To Apply</span>
        </div>
        <!-- add button -->
        <div class="addroles">
          <button (click)="addJob()">Add Job</button>
        </div>
      </div>
    </div>
    <!-- joblist components------------------------------------- -->

    <app-admin-jobcard-list></app-admin-jobcard-list>

    <!------------------------------------------------------------------------------------->
  </div>
</div>
