<div class="leftcard">
  <div class="side-buttons-container">
    <mat-nav-list>
      <a routerLink="/hubs" class="button-link">
        <Button class="side-buttons">
          <mat-icon>hubs</mat-icon>
          Hubs
        </Button>
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>

    <mat-nav-list>
      <Button class="side-buttons">
        <mat-icon>events</mat-icon>
        Events
      </Button>
    </mat-nav-list>

    <mat-divider></mat-divider>

    <mat-nav-list>
      <Button class="side-buttons">
        <mat-icon>precision_manufacturing</mat-icon>
        Projets
      </Button>
    </mat-nav-list>

    <mat-divider></mat-divider>

    <mat-nav-list>
      <Button class="side-buttons">
        <mat-icon>key</mat-icon>
        Opportunities
      </Button>
    </mat-nav-list>
  </div>
</div>
